<%= error_messages_for :equipment %>
<% form_for @equipment, :url => equipments_url do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => "14" %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code, :size => "14"  %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, :size => "42"  %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note, :size => "40x6" %>
  </p>
  <p>
    <%= f.label :maintenance_periodicity_in_months %><br />
    <%= f.text_field :maintenance_periodicity_in_months, :size => 3 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
