<% title "Equipments" %>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th>Periodicity</th>
  </tr>
  <% for equipment in @equipments %>
    <tr class="<%= cycle(:odd, :even) %>" onclick="changeLocation('<%= url_for(equipment) %>');">
      <td><%=h equipment.name %></td>
      <td><%=h equipment.code %></td>
      <td><%=h equipment.description %></td>
      <td><%=h equipment.maintenance_periodicity_in_months %> months</td>
    </tr>
  <% end %>
</table>
<p>
  <%= will_paginate @equipments %>
</p>

<p><%= link_to "New Equipment", new_equipment_path %></p>
