<% title "Users" %>
<p>
  administrator can see any user
  secretary can see any technician and any client
  technician can see other technician
  client is not allowed
  
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=h user.name %></td>
      <td><%=h user.role %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
