<% title "#{@user.role.titleize}: #{@user.name}" %>

<!-- logged_user is administrator -->
<% administrator_area @user do %>
  <b>Phone</b>: <%= @user.phone %> <br /> <br />
  <b>Email</b>: <%= @user.email %>
  
  <p><%= link_to "Create New User", new_user_path %></p>
<% end %>

<!--  -->
<% secretary_area @user do  %>
  <b>Phone</b>: <%= @user.phone %> <br /> <br />
  <b>Email</b>: <%= @user.email %>
<p>assegna un tecnico ad un intervento proposto</p>
<p>vede gli interventi pendenti programmati in arrivo (late)</p>
<p>vede gli interventi da marcare come conclusi</p>
<p>puo’ marcare un intervento come concluso</p>
<p>vede le nuove richieste di intervento</p>
<p>vede la voce degli interventi eseguiti</p>
<p>puo’ modificare i dati di un intervento tecnico</p>
<p><%= link_to "New User", new_user_path %></p>
<p>puo’ creare un cliente</p>
<p>puo’ creare gli impianti in assistenza per un cliente</p>
<p>puo’ assegnare un impianto in assistenza ad un cliente</p>
<p>puo’ modificare la password ad un cliente</p>
<p>puo’ modificare una domanda</p>



<% end %>

<% technician_area @user do %>
  <b>Phone</b>: <%= @user.phone %> <br /> <br />
  <b>Email</b>: <%= @user.email %> <br />
  <p>recent completed maintenances</p>
  <p>Equipments worked (count)</p>
<% end %>

<% client_area @user do %>
  <b>Phone</b>: <%= @user.phone %> <br /> <br />
  <b>Email</b>: <%= @user.email %> <br /> <br />
  <b>Address</b>: <%= simple_format @user.address %>
  
  <% if !@user.equipments.blank? %>
    <h2>Equipments</h2>
    <% for equipment in [@user.equipments] %>
          <h3><%= equipment.name %></h3>
          <% if !equipment.maintenances.incoming.pending.blank? %>
            <h3>Pending Maintenances</h3>
            <% @pending_maintenances = equipment.maintenances.incoming.pending %>
            <% for item in @pending_maintenances %>
              <%= item.service_type %><br/>
              <%= item.scheduled_date_at %> <%= link_to "Propose change" %></p>
            <% end %>
          <% else %>
            <p>No scheduled maintenance. <%= link_to "Propose New"%></p>
          <% end %>
          
          <!-- 
            equipment.maintenances.incoming.pending
            equipment.maintenances.executed 
          -->
          
          <!-- 
            :pending, :change_date
            :executed 
            :proposed, :propose_new 
            :refused   
          -->
          
          <p>pending maintenances ordered by nearest</p>
          <p>executed maintenances ordered by most recent</p>
          <p>propose a scheduled maintenance</p>
          <p>propose new date for a scheduled maintenance</p>
    <% end %>
  <% else %>
    <strong>No equipment found</strong>
  <% end %>
  
  <p>change personal information</p>
<% end %>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> | <%= link_to "Back", :back %>
</p>
