<div id="menu">
	<ul>
	  <li><%= link_to "Cosa &egrave;" %></li>
    <li><%= link_to "Come Funziona" %></li>
    <li><%= link_to "Iscriviti", new_user_path %></li>
    <li><%= link_to "Entra", login_path %></li>
    <li><%= link_to "Domande" %></li>
    <li><%= link_to "Chi Siamo"%></li>
  </ul>
</div>