<div id="menu">
	<ul>
	  <li><%= link_to "Cosa &egrave;" %></li>
    <li><%= link_to "Manutenzioni", maintenances_path %></li>
    <li><%= link_to "Impianti", equipments_path %></li>
    <li><%= link_to "Utenti", users_path %></li>
    <li><%= link_to "Domande" %></li>
    <li><%= link_to "Contattaci"%></li>
    </ul>
</div>