<% stylesheet 'theme/ui.all.css' %>
<% javascript 'jquery.js', 'jquery_ui.js', 'application.js'  %>

<%= error_messages_for :maintenance %>
<% form_for @maintenance do |f| %>
  <p>
    <%= f.label :equipment_id %>
    <%= f.collection_select(:equipment_id, Equipment.all, :id, :name, {:prompt => true}) %>
  </p>
  <p>
    <%= f.label :service_type %>
    <%= f.select :service_type, Maintenance::SERVICE_TYPES %>
  </p>
  <% client_area current_user do %>
      <%= f.hidden_field :client_id, params[:client_id] %>
  <% end %>

  <% if current_user.not_client?  %>
    <p>
      <%= f.label :client_id %>
      <%= f.collection_select(:client_id, Client.all, :id, :name, {:prompt => true}) %>
    </p>
  <% end %>

  <% technician_area current_user do %>
      <%= f.hidden_field :technician_id, params[:technician_id] %>
  <% end %>
  
  <% if current_user.not_technician?  %>
    <p>
      <%= f.label :technician %>
      <%= f.collection_select(:technician_id, Technician.all, :id, :name, {:prompt => true}) %>
    </p>
  <% end %>
  <p>
    <%= f.label :scheduled_date_at, "Scheduled on" %>
    <%= f.text_field :scheduled_date_at, {:class => 'date', :size => '10'} %>
  </p>
  <p>
    <%= f.label :accepted %>
    <%= f.radio_button :accepted, false %>No 
    <%= f.radio_button :accepted, true %>Yes 

  </p>
  <p>
    <%= f.label :completed %>
    <%= f.radio_button :completed, false %>No 
    <%= f.radio_button :completed, true %>Yes <br />
  </p>
  <p>
    <%= f.label :duration_in_hours %>
    <%= f.text_field :duration_in_hours, :size => '4' %>
  </p>
  <p>
    <%= f.label :effective_date_at, "Effective on" %>
    <%= f.text_field :effective_date_at, {:class => 'date', :size => '10'} %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note, :size => '40x6' %>
  </p>
  <p><%= f.submit "Submit" %> or <%= link_to "Cancel", url_for(:back) %></p>
<% end %>
