<% title "Maintenances" %>

<!-- Group by status -->
<!-- Order by date ASC, priority -->


<table>
  <tr>
    <th>Equipment</th>
    <th>Service Type</th>
    <th>Client</th>
    <th>Technician</th>
    <th>Scheduled Date At</th>

  </tr>
  <% @maintenances.each do |status, maintenances| %>
    <h3><%= status %></h3>
    <% for maintenance in maintenances %>
    <tr>
      <td><%=h maintenance.equipment_name %></td>
      <td><%=h maintenance.service_type %></td>      
      <td><%=h maintenance.client_name %></td>
      <td><%=h maintenance.technician_name unless maintenance.technician_id.nil? %></td>
      <td><%=h maintenance.scheduled_date_at %></td>
      <td><%= link_to "Show", maintenance %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<p><%= link_to "New Maintenance", new_maintenance_path %></p>
