<% content_for :head do %>
<link type="text/css" href="/stylesheets/theme/ui.all.css" rel="Stylesheet" />
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery_ui.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<% end %>

<% title "Maintenances (#{@maintenances_count})" %>
<p class="actions">
  <a id="filter_panel_link">Search Criteria</a> | <%= link_to "Add New", new_maintenance_path %>  
</p>

<% form_for @search do |f| %>
  <fieldset class="toggle">
    <p>
      <%= f.label :equipment_id_is, 'Equipment:' %>
      <%= f.collection_select :equipment_id_is, Equipment.all, :id, :name, { :include_blank => true } %>
      &nbsp;&nbsp;&nbsp;
      
      <%= f.label :service_type_is,  'Type:' %>&nbsp;
      <%= f.select :service_type_is, Maintenance::SERVICE_TYPES, { :include_blank => true } %>
      
      &nbsp;&nbsp;&nbsp;
      <%= f.label :status, 'Status:' %>
      <%= f.select :status, Maintenance::STATUSES, { :include_blank => true } %>

      &nbsp;&nbsp;&nbsp;
      <%= f.label :technician_id_is, 'Technician:' %>
      <%= f.collection_select :technician_id_is, Technician.all, :id, :name, { :include_blank => true } %>
      
    </p>
    
    <p>
      <%= f.label :scheduled_date_at_after, "Scheduled between" %>
      <%= f.text_field :scheduled_date_at_after, :size => 10, :class => 'date' %>
      
      <%= f.label :scheduled_date_at_before, "and" %>
      <%= f.text_field :scheduled_date_at_before, :size => 10, :class => 'date' %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      
      <%= f.label :client_id_is, 'Client:' %>
      <%= f.collection_select :client_id_is, Client.all, :id, :name, { :include_blank => true } %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.label :note_contains, 'Note:' %>
      <%= f.text_field :note_contains, :size => 16 %>
    </p>
    
      <%= f.submit 'Filter', :class => 'right' %>
      |
      <%= link_to 'Reset' %>

  </fieldset>
  
<% end %>

<% if @maintenances_count.zero? %>
  <p class="big center">There is no result matching the current search criteria.</p>
<% else %>
  <table>
      <tr>
        <th><%= order @search, :by => :id, :as => "ID" %></th>
        <th><%= order @search, :by => :scheduled_date_at, :as => "Scheduled Date" %></th>
        <th><%= order @search, :by => :equipment_id, :as => "Equipment" %></th>
        <th><%= order @search, :by => :client_id, :as => "Client" %></th>
        <th><%= order @search, :by => :technician_id, :as => "Technician" %></th>    
        <th>Service Type</th>
        <th>Status</th>      
      </tr>
    <% for maintenance in @maintenances %>
      <tr class="<%= cycle(:odd, :even) %>" onclick="changeLocation('<%= url_for(maintenance) %>');">
        <td><%= link_to maintenance.id, maintenance, {:title => 'Show details'} %></td>      
        <td><%=h maintenance.scheduled_date_at %></td>
        <td><%=h maintenance.equipment_name %></td>
        <td><%=h maintenance.client_name %></td>
        <td><%=h maintenance.technician_name unless maintenance.technician_id.nil? %></td>      
        <td><%=h maintenance.service_type %></td>      
        <td><%=h maintenance.status %></td>      
      </tr>
    <% end %>
  </table>
  <p>
    <%= will_paginate @maintenances %>
  </p>
<% end %>



