<% title @maintenance.name %>
<%= link_to "View all", maintenances_path %>

<p>
  <strong>Service Type:</strong>
  <%=h @maintenance.service_type %>
</p>
<p>
  <strong>Technician:</strong>
  <%=h @maintenance.technician_name unless @maintenance.technician_id.nil? %>
</p>

<% if @maintenance.status.blank? %>
<p>
  <strong>Scheduled Date At:</strong>
  <%=h @maintenance.scheduled_date_at %>
</p>
<p>
  <strong>Effective Date At:</strong>
  <%=h @maintenance.effective_date_at %>
</p>

<p>
  <strong>Duration In Hours:</strong>
  <%=h @maintenance.duration_in_hours %>
</p>
<% end %>

<p>
  <strong>Accepted:</strong>
  <%=h @maintenance.accepted %>
</p>

<% if @maintenance.status.blank? %>
<p>
  <strong>Completed:</strong>
  <%=h @maintenance.completed %>
</p>
<% end %>

<p>
  <strong>Note:</strong>
  <%=h @maintenance.note %>
</p>

<p>
  <%= link_to "Edit", edit_maintenance_path(@maintenance) %> |
  <%= link_to "Back", :back %>
</p>
